#login-page{
    display: flex;
    flex-direction: column;
}

#faq-heading{
    color: white;
    width: fit-content;
    margin: 2rem auto 1rem auto;
}

#faq-container{
    border-top: 8px solid #222;
    margin-bottom: 3rem;
}