#callToAction {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.2rem 10rem #000000;
  
  margin: 0 1.2rem 0 0;
  padding: 1rem 2.4rem 1rem 2.4rem;

  cursor: pointer;
}

#callToAction:hover {
  opacity: 0.8;
    box-shadow: 0.2rem 0.2rem 10rem #000000;
}

.callToActionContent {
  margin: 0 0.4rem 0 0.4rem;
  padding: 0;
}

.Primary {
  background-color: white;
}

.Secondary {
  background-color: #454545;
  opacity: 0.9;
  color: white;
}